<div id="layout-menu">
  <div class="menu-section">
    <div class="menu-title">Min-Sup Kim</div>
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/aboutme">About Me</a></li>
    </ul>
  </div>
  <div class="menu-section">
    <div class="menu-title">Blog</div>
    <ul>
      <li><a href="/blog">All Posts</a></li>
      <li><a href="/categories/development">Development</a></li>
      <li><a href="/categories/convex_optimization">Convex Optimization</a></li>
      <li><a href="/categories/control_system">Control System</a></li>
      <li><a href="/categories/linear_algebra">Linear Algebra</a></li>
      <li><a href="/categories/papers">Paper Review</a></li>
      <li><a href="/categories/dynamics">Dynamics</a></li>
    </ul>
  </div>
  <div class="menu-section">
    <div class="menu-title">Project</div>
    <ul>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/opensource">Open Source</a></li>
      <li><a href="/portfolio">Portfolio</a></li>
    </ul>
  </div>
</div>